<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel = "stylesheet" type = "text/css" href = "{{url_for('static', filename='style.css')}}">
    <link rel='shortcut icon' type='image/x-icon' href='{{url_for('static', filename='favicon.ico')}}'/>
    <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static', filename='favicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static', filename='favicon-16x16.png')}}">
    <meta name="theme-color" content="#1de9b6">
    <title>SwagLyrics Backend</title>
</head>
<body>
<h2><a href="https://api.swaglyrics.dev">SwagLyrics Backend</a></h2>
<div id="desc">
    <p>The SwagLyrics Backend and API is housed here.<br>
    A key function of the backend is using a database and the Genius API to support songs that the main application cannot
    fetch lyrics for by itself. If that is not possible by even the backend (for example, if lyrics don't exist on Genius),
    it avoids redundancy by adding unsupported songs to the list below as well as opening
    <a href="https://github.com/SwagLyrics/SwagLyrics-For-Spotify/labels/unsupported%20song" target="_blank" rel="noopener">GitHub Issues</a>
    for these songs for rapid iteration and review.<br>
    The backend also checks these songs with the Spotify API and confirms the validity of data it is provided.<br>
    Click the link to explore the backend on
    <a href="https://swaglyrics.dev/swaglyrics-backend" target="_blank" rel="noopener">GitHub</a>!
    </p>
</div>
<h3>Proudly sponsored by <a href="https://pythonanywhere.com" target="_blank" rel="noopener">PythonAnywhere</a>.</h3>
<h3>Unsupported Songs</h3>
<div id="songs">
    {% for song in unsupported_songs %}
        {{ song }}<br>
    {% endfor %}
</div>
</body>
</html>
