:root {
    --main-bg-dark: #212121;
    --main-bg-light: #F5F5F5;
    --accent-green: #1DE9B6;
}

#songs {
    font-family: 'Consolas', monospace;
}

body{
    background-color: var(--main-bg-dark);
    font-family: 'Consolas', monospace;
    color: white;
}

a:link, a:visited {
    color: var(--accent-green);
}
