:root {
    --main-bg-dark: #202124;
    --main-bg-light: #F5F5F5;
    --accent-green: #1DE9B6;
}

#lyrics{
    font-size: 1em;
}

body{
    background-color: #212121;
    color: white;
    font-family: 'Consolas', monospace;
}

a:link, a:visited {
    color: var(--accent-green);
}